.header {
  background: var(--inputs);
  width: 100%;
}

.inner {
  display: flex;
  gap: 450px;
  padding: 28px 0 28px 64px;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  display: flex;
  gap: 32px;
}

.link {
  color: var(--main);
}

.linkActive {
  color: var(--button);
}
