.header {
  display: flex;
  gap: 450px;
  padding: 28px 0 28px 64px;
  background: var(--inputs);
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
  display: flex;
  gap: 32px;
}

.nav a:hover {
  color: var(--button);
}
