.featuresList {
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.featureItem {
  margin-right: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  height: 48px;
  padding: 12px 18px;
  border-radius: 100px;
  background: var(--badges);
  mix-blend-mode: multiply;
  display: flex;
  align-items: center;
  gap: 8px;
}
