.wrapper {
  position: relative;
  width: 100%;
}

:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container) {
  width: 100%;
}

.input {
  width: 100%;
  border-radius: 12px;
  border: none;
  background: var(--inputs);
  padding: 12px 44px 12px 16px; /* место под иконку справа */
  font: inherit;
  color: var(--main);
  cursor: pointer;
  height: 60px;
}

/* === КАЛЕНДАР === */

.calendar {
  position: relative;
}

.calendar::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 9px 9px 9px;
  border-style: solid;
  border-color: transparent transparent var(--gray-light) transparent;
}

.calendar::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: transparent transparent var(--white) transparent;
}

:global(.react-datepicker).calendar {
  width: 276px;
  height: 274px;
  background: var(--white);
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid var(--gray-light);
  margin: 0;
}

:global(.react-datepicker__month-container) {
  height: 100%;
  width: 100%;
}

:global(.react-datepicker__header) {
  flex: 0 0 auto;
  background: none;
  border: none;
  padding: 12px 12px 0 12px;
}

:global(.react-datepicker__navigation) {
  top: 7px;
  stroke: var(--text);
}

:global(.react-datepicker__current-month) {
  font-weight: 600;
  font-size: 16px;
  color: var(--main);
  text-align: center;
  font-family: inherit;
  padding: 12px;
}

:global(.react-datepicker__day-names) {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid var(--text);
}

:global(.react-datepicker__day-name) {
  width: 32px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--text);
  border: none;
  height: auto;
  border-radius: 0;
}

:global(.react-datepicker__month) {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  margin: 0;
}

:global(.react-datepicker__day) {
  width: 36px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  color: var(--main);
  cursor: pointer;
  margin: 0;
}

:global(.react-datepicker__day:hover) {
  background: var(--inputs);
}

:global(.react-datepicker__day--selected),
:global(.react-datepicker__day--keyboard-selected) {
  background: var(--text);
  color: var(--white);
}

:global(.react-datepicker__day--today) {
  border: 1px solid var(--text);
}

:global(.react-datepicker),
:global(.react-datepicker *) {
  font-family: var(--font-family);
}

:global(.react-datepicker__input-container input:focus),
:global(.react-datepicker__input-container input:focus-visible) {
  outline: none;
  box-shadow: none;
}
