.catalogPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 64px;
  padding: 48px 64px 42px 64px;
}

.catalogSection {
  min-width: 888px;
  display: flex;
  flex-direction: column;
}

.catalogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  min-width: 888px;
}

.camperList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.loadMore {
  border: 1px solid var(--gray-light);
  background: var(--white);
  color: var(--main);
  cursor: pointer;
}

.loadMore:hover {
  border: 1px solid var(--button-hover);
}
