.card {
  display: flex;
  flex-direction: row;
  gap: 24px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  background: var(--white);
}

.cardDetails {
  border: none;
  padding: 0;
  width: 100%;
  box-shadow: none;
  flex-direction: column;
  background: transparent;
  gap: 28px;
}

.detailsPrice {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.imageWrapper {
  flex: 0 0 292px;
}

.content {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

/* Галерея на сторінці деталей */
.gallery {
  display: flex;
  gap: 48px;
  flex-wrap: nowrap;
}

.cardDetails .image {
  width: 292px;
  height: 312px;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}

.price {
  gap: 12px;
  margin-right: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.favButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--main);
  transition: color 0.2s ease;
}

.favButtonActive {
  background: none;
  border: none;
  cursor: pointer;
}

.favButton svg {
  stroke: var(--main);
}

.favButtonActive svg {
  stroke: var(--button);
}

.heartIcon {
  display: block;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 16px;
}

.stats {
  margin-bottom: 24px;
}

.underline {
  text-decoration: underline;
}

.location {
  margin-left: 16px;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 24px;
}

/* Опис на сторінці деталей */
.descriptionFull {
  white-space: normal;
  overflow: visible;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 60px;
}

.showMore {
  margin-top: 16px;
  align-self: flex-start;
  border-radius: 200px;
  padding: 12px 24px;
  background: var(--button);
  color: var(--white);
  cursor: pointer;
}

.showMore:hover {
  background: var(--button-hover);
}
